body{
    margin: 0;
    padding: 0;
background-image:linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)), url(photo1.jpeg  );
background-size: cover;
}
.main

ul{
    float: right;
    list-style: none;
}
ul li{
    display: inline-block;

}
ul li a{
     text-decoration: none;
     color: white;
     padding: 5px 20px;
     margin: auto;
     border: 1px solid transparent;
     transition:0.6s ease

}
ul li a:hover{
    background-color: white;
    color: black;
    
}

.main{
    max-width: 1500px;

}
.title{
    position: absolute;
    top: 50%;
    left:50%;
    transform: translate(-50%,-50%);
}
.title h1{
    color: white;
    font-size: 70px;
}
.button{
   
    position: absolute;

top: 60%;
left:50%;
transform: translate(-50%,-50%);
}  
.btn{
    border: 1px solid white;
    padding: 5px 20px;
    color: white;
    text-decoration: none;
    transition: 00.6s ease-out;

}
.btn:hover{ background-color: white;
    color: black;
    

}
    
